# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Mac Stuff
.DS*
._.DS*

# IPython Notebook stuff
**/.ipynb*
**/.ipynb_checkpoints/*